<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xshxy.seeklightbackend.mapper.TDialogueMapper">

    <resultMap id="BaseResultMap" type="com.xshxy.seeklightbackend.domain.TDialogue">
            <id property="dialogueId" column="dialogue_id" />
            <result property="userId" column="user_id" />
            <result property="modelId" column="model_id" />
            <result property="title" column="title" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        dialogue_id,user_id,model_id,title,is_deleted,created_at,
        updated_at
    </sql>
</mapper>
